.page {
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
	color: #fff;
}

.container {
	width: 150rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.pageOne {
	background-color: #5f27cd;
}

.pageTwo {
	background-color: #3d3d3d;
}

.pageThree {
	background-color: #ff4d4d;
}

.pageFour {
	background-color: #192a56;
}

.pageFive {
	background-color: #c23616;
}

.image {
	width: 60%;
}

.image > img {
	width: 100%;
}

.text {
	width: 40%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text > h1 {
	font-size: 7rem;
	margin-bottom: 3rem;
}

.text > p {
	font-size: 2.5rem;
}
