:root {
	--main-color: #4d42ff;
}

.search {
	overflow: hidden;
}

.back_img {
	width: 100%;
	position: relative;
}

.back_img > h1 {
	position: absolute;
	font-size: 5rem;
	color: #fff;
	width: 100%;
	text-align: center;
	bottom: 15rem;
}

.back_img > img {
	width: 100%;
	height: 50rem;
	object-fit: cover;
}

.back_img > .search_bar {
	position: absolute;
	bottom: -2rem;
	left: 30%;
	width: 40%;
	height: 6rem;
	z-index: 998;
	font-size: 2rem;
	border: none;
	outline: none;
	background-color: #fff;
	box-shadow: 0 5px 20px 0 rgb(147, 147, 147);
	border-radius: 2rem;
}

form {
	width: 100%;
	height: inherit;
	display: flex;
	align-items: center;
}

form > input {
	flex-grow: 1;
	color: #000;
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 2rem;
	padding: 0 3rem;
	font-family: 'Noto Sans KR', sans-serif;
}

form > button {
	width: 5rem;
	height: 5rem;
	outline: none;
	border: none;
	background-color: transparent;
}

form > button > img {
	width: 3rem;
	height: 3rem;
}

.container {
	margin-top: 3rem;
}

.data {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 10rem 0;
	flex-wrap: wrap;
}

.container > h1 {
	font-size: 3rem;
	padding: 1rem 0;
}

.loading_box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: 5px solid grey;
	border-top: 5px solid var(--main-color);
	animation: spin 1.5s linear infinite;
}

.result_text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 5rem;
	height: 40rem;
}

@media screen and (max-width: 1024px) {
	.back_img {
		width: 100vw;
		position: relative;
	}

	.back_img > img {
		width: 100%;
		height: 30rem;
		object-fit: cover;
	}

	.back_img > h1 {
		position: absolute;
		font-size: 3rem;
		color: #fff;
		width: 100%;
		text-align: center;
	}

	.data {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 3rem 0;
	}

	.back_img > .search_bar {
		position: initial;
		width: 100%;
		z-index: 998;
		font-size: 2rem;
		border: none;
		outline: none;
		background-color: #fff;
		box-shadow: 0 5px 20px 0 rgb(147, 147, 147);
		border-radius: 2rem;
	}
}
