.data {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 1024px) {
	.data {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
